{% load static %}
<div class="starting-search">
    <div class="flex-logo">
        <div class="logo">
            <p class="logo-historical"> Historical </p>
            <p class="logo-games"> GAMES </p>
        </div>
    </div>
    <div class="search-info-bar">
        <div class="search-info"> <img src="{% static 'img/%D1%82%D0%B5%D0%BB.png' %}" alt="">
            <p>+123 456 7890</p>
        </div>
        <div class="search-info"> <img src="{% static 'img/email.png' %}" alt="">
            <p>info@example.com</p>
        </div>
    </div>
    <div class="search">
        <input class="search" type="text" placeholder="Search">
        <a class="search-button" href="#"> <img src="{% static 'img/%D0%BF%D0%BE%D0%B8%D1%81%D0%BA%20%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png' %}" alt=""> </a>
    </div>
</div>