<div class="starting-menu-product">
    <ul>
        <li> <a href="{% url 'main' %}">Home</a> </li>
        <li> <a href="#">About</a> </li>
        <li> <a href="#">Services</a> </li>
        <li> <a href="{% url 'catalog:index' %}">Gallery</a> </li>
        <li> <a href="#">News</a> </li>
        <li> <a href="#">Team</a> </li>
        <li> <a href="{% url 'contacts' %}">Contact Us</a> </li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'auth:logout' %}">Logout</a></li>
        {% else %}
            <li> <a href="{% url 'auth:login' %}">Login</a>
        {% endif %}

        {% if user.is_superuser %}
            <li><a href="/admin/">Admin</a></li>
        {% endif %}
        <li><a href="{% url 'cart:cart_detail' %}">
            {% if cart|length > 0 %}
                <i class="fas fa-shopping-cart"></i>{{ cart|length }} шт, {{ cart.get_total_price }}₽
            {% else %}
                Корзина пуста
            {% endif %}
        </a></li>
    </ul>
</div>