<div class="contact-us">
    <div class="contact-us-header">
        <p>Contact Us</p>
    </div>
    <div class="contact-us-main">
        <div class="contact-us-main-text">
            <p class="contact-us-text-header"> Get in&nbsp;touch with&nbsp;us </p>
            <br>
            <p class="contact-us-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets containing Lorem Ipsum passages sed&nbsp;do, At&nbsp;vero eos et&nbsp;accusamus et&nbsp;iusto odio digs qui blanditiis
                <br>
                <br> Leningradsky AVE 39, BLDG 79&nbsp;MOSCOW 125167, Russia
                <br>
                <br>Telephone : +00&nbsp;111&nbsp;222 3333&nbsp;FAX : +1&nbsp;888&nbsp;888 4444
                <br>
                <br>Email : <span class="form-email">mail@example.com</span></p>
        </div>
        <form action="" class="contact-us-main-form">
            <input type="text" placeholder="Name" class="default-input">
            <input type="text" placeholder="Email" class="default-input">
            <input type="text" placeholder="Message" class="textarea">
            <input type="submit" class="submit-button" value="SUBMIT"> </form>
    </div>
</div>