<form action="{% url 'auth:log' %}" method="post" class="login_form auth-form">
    <h1 class="auth-h1">Sign in</h1>
    <div class="social-container">
        <a href="#" class="social auth-a"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social auth-a"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social auth-a"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <span class="auth-span">or use your account</span>
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ next }}">
    {{ form.as_p }}
    <a href="#" class="auth-a">Forgot your password?</a>
</form>