{% extends 'mainapp/base.html' %}

{% load static %}

{% load my_tags %}

{% block headScript %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/catalogUpdate.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="starting-product">
        {% include 'mainapp/includes/inc_starting_search.html' %}
        {% include 'mainapp/includes/inc_starting_menu_product.html' %}
    </div>
    <div class="gallery-wrapper-catalog">
        <div class="gallery-product-catalog">
            <div class="gallery-header">
                <div class="red-header"> Our Gallery </div>
            </div>
            <div class="gallery-products">
                {% include 'mainapp/includes/inc_catalog_products.html' %}
            </div>
            <div class="show-more-catalog-wrapper"> <a href="#" class="show-more-catalog">Show more games <i class="fas fa-chevron-right"></i></a> </div>
        </div>
    </div>
    <div class="catalog-big">
        {% for big_prod in big_products %}
        <div class="catalog-big-item">
            <img src="{{ big_prod.get_big_image|media_folder_products }}" alt="" class="catalog-big-image">

            <div class="catalog-big-text">
                <p class="catalog-big-discount"> DISCOUNT </p>
                <p class="catalog-big-name"> {{ big_prod.name }} </p>
                <p class="catalog-big-price">  <span>{{ big_prod.get_new_price }} ₽</span> / {{ big_prod.price }} ₽</p>
                <a href="{% url 'catalog:product' big_prod.pk %}" class="catalog-big-buy-button">Buy</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'mainapp/includes/inc_contacts.html' %}
    {% include 'mainapp/includes/inc_map.html' %}
{% endblock %}


