{% extends 'mainapp/base.html' %}

{% load static %}

{% load my_tags %}

{% block headScript %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
{% endblock %}

{% block content %}
    <div class="starting-div">
        {% include 'mainapp/includes/inc_starting_search.html' %}
        <div class="starting-menu">
            <ul>
                <li> <a href="{% url 'main' %}">Home</a> </li>
                <li> <a href="#">About</a> </li>
                <li> <a href="#">Services</a> </li>
                <li> <a href="{% url 'catalog:index' %}">Gallery</a> </li>
                <li> <a href="#">News</a> </li>
                <li> <a href="#">Team</a> </li>
                <li> <a href="{% url 'contacts' %}">Contact Us</a> </li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'auth:edit' %}">{{ user.first_name|default:'Пользователь' }}</a></li>

                    <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                {% else %}
                    <li> <a href="{% url 'auth:login' %}">Login</a>
                {% endif %}

                {% if user.is_superuser %}
                    <li><a href="/admin/">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'cart:cart_detail' %}">
                    {% if cart|length > 0 %}
                        <i class="fas fa-shopping-cart"></i>{{ cart|length }} шт, {{ cart.get_total_price }}₽
                    {% else %}
                        Корзина пуста
                    {% endif %}
                </a></li>
            </ul>
        </div>
        <div class="starting-text">
            <div class="starting-header">
                <p>Nunc eget nibh</p>
            </div>
            <div class="underline">
                <p></p>
            </div>
            <div class="starting-content"> Morbi in nisl auctor </div>
            <div class="starting-icons">
                <a href="#"><img class="facebook" src="{% static 'img/facebook-logo.png' %}" alt=""></a>
                <a href="#"><img class="twitter" src="{% static 'img/twitter-logo-silhouette.png' %}" alt=""></a>
                <a href="#"><img class="rss" src="{% static 'img/rss-feed-suscription-button-symbol-for-interface.png' %}" alt=""></a>
                <a href="#"><img class="vk" src="{% static 'img/vk-social-network-logo.png' %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="about-us">
        <div class="about-main">
            <div class="about-content">
                <p class="red-header">About Us!</p>
                <p class="about-text"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                    <br>
                    <br> Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? </p>
            </div>
        </div>
        <div class="about-image"> <img src="{% static 'img/1.png' %}" alt=""> </div>
    </div>
    <div class="services">
        <p class="red-header">Services</p>
        <div class="services-content">
            <div class="services-items">
                <div class="services-left-item">
                    <div class="services-item-content">
                        <p class="services-header"> Repreh Qui In Ea Voluptate </p>
                        <br>
                        <p class="services-text"> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. </p>
                    </div>
                    <div class="services-icon"> <img src="{% static 'img/%D0%B2%D0%B5%D1%82%D0%BA%D0%B0.png' %}" alt=""> </div>
                </div>
                <div class="services-right-item">
                    <div class="services-icon"> <img src="{% static 'img/arrow-up-bold-circle-outline.png' %}" alt=""> </div>
                    <div class="services-item-content">
                        <p class="services-header"> Voluptatibus Maiores Alias </p>
                        <br>
                        <p class="services-text"> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. </p>
                    </div>
                </div>
            </div>
            <div class="services-items">
                <div class="services-left-item">
                    <div class="services-item-content">
                        <p class="services-header"> Aut Perferendis Doloribus </p>
                        <br>
                        <p class="services-text"> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. </p>
                    </div>
                    <div class="services-icon"> <img src="{% static 'img/%D0%B2%D0%B5%D1%82%D0%BA%D0%B0.png' %}" alt=""> </div>
                </div>
                <div class="services-right-item">
                    <div class="services-icon"> <img src="{% static 'img/arrow-up-bold-circle-outline.png' %}" alt=""> </div>
                    <div class="services-item-content">
                        <p class="services-header"> Dut Aut Reiciendis Maiores </p>
                        <br>
                        <p class="services-text"> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. </p>
                    </div>
                </div>
            </div>
            <div class="services-items">
                <div class="services-left-item">
                    <div class="services-item-content">
                        <p class="services-header"> Maiores Alias Consequatur </p>
                        <br>
                        <p class="services-text"> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. </p>
                    </div>
                    <div class="services-icon"> <img src="{% static 'img/%D0%B2%D0%B5%D1%82%D0%BA%D0%B0.png' %}" alt=""> </div>
                </div>
                <div class="services-right-item">
                    <div class="services-icon"> <img src="{% static 'img/arrow-up-bold-circle-outline.png' %}" alt=""> </div>
                    <div class="services-item-content">
                        <p class="services-header"> Doloribus Volupta Maiores </p>
                        <br>
                        <p class="services-text"> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery">
        <div class="gallery-header">
            <div class="red-header"> Our Gallery </div>
        </div>
        <div class="gallery-products-main">
            {% for object in object_list %}
            <div class="gallery-item"> <img src="{{ object.get_main_image|media_folder_products }}" alt="">
                <div class="div-product-name">
                    <p class="product-name">{{ object.name }} </p>
                    <div class="buy-button"> <a href="{% url 'catalog:product' object.pk %}" class="gallery-buy-button"> Buy</a> </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'mainapp/includes/inc_main_vue_slider.html' %}
    <div class="news-events">
        <div class="news-events-header">News & Events</div>
        <div class="news-events-content">
            <div class="latest-news">
                <div class="latest-news-header">
                    <p>Latest News</p>
                </div>
                <div class="latest-news-content">
                    <div class="latest-news-content-date">
                        <p class="latest-news-content-date-day">15</p>
                        <p class="latest-news-content-date-month"> June </p>
                        <p class="latest-news-content-date-year"> 2016 </p>
                    </div>
                    <div class="latest-news-content-text">
                        <div class="latest-news-content-text-header">
                            <p>Fugiat Quo Voluptas</p>
                        </div>
                        <div class="latest-news-content-text-info">
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</p>
                        </div>
                    </div>
                    <div class="latest-news-content-date">
                        <p class="latest-news-content-date-day">18</p>
                        <p class="latest-news-content-date-month"> June </p>
                        <p class="latest-news-content-date-year"> 2016 </p>
                    </div>
                    <div class="latest-news-content-text">
                        <div class="latest-news-content-text-header">
                            <p>Fugiat Quo Voluptas</p>
                        </div>
                        <div class="latest-news-content-text-info">
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</p>
                        </div>
                    </div>
                    <div class="latest-news-content-date">
                        <p class="latest-news-content-date-day">20</p>
                        <p class="latest-news-content-date-month"> June </p>
                        <p class="latest-news-content-date-year"> 2016 </p>
                    </div>
                    <div class="latest-news-content-text">
                        <div class="latest-news-content-text-header">
                            <p>Fugiat Quo Voluptas</p>
                        </div>
                        <div class="latest-news-content-text-info">
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featured-events">
                <div class="featured-events-header">
                    <div>Featured Events</div>
                    <div class="featured-events-header-buttons"> <a href="#"><i class="fas fa-chevron-left"></i></a> <a href="#"><i class="fas fa-chevron-right"></i></a> </div>
                </div>
                <div class="featured-events-images"> <img src="{% static 'img/g-7.png' %}" alt=""> <img src="{% static 'img/g-9.png' %}" alt=""> <img src="{% static 'img/g-3.png' %}" alt=""> </div>
                <div class="featured-events-collapse">
                    <div class="collapse-item">
                        <div class="collapse-item-header">
                            <button class="collapse-button"> <strong><span class="collapse-icon">-</span> Assumenda Est Cliche Reprehenderit</strong></button>
                        </div>
                        <div class="collapse-item-text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
                    </div>
                    <div class="collapse-item">
                        <div class="collapse-item-header">
                            <button class="collapse-button"><strong><span class="collapse-icon">+</span> Assumenda Est Cliche Reprehenderit</strong></button>
                        </div>
                        <div class="collapse-item-text inactive"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
                    </div>
                    <div class="collapse-item">
                        <div class="collapse-item-header">
                            <button class="collapse-button"><strong><span class="collapse-icon">+</span> Assumenda Est Cliche Reprehenderit</strong></button>
                        </div>
                        <div class="collapse-item-text inactive"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-team">
        <div class="our-team-header"> Our Team </div>
        <div class="our-team-men">
            <div class="our-team-men-item">
                <div class="our-team-men-photo"><img src="{% static 'img/t-1.png' %}" alt=""></div>
                <div class="our-team-men-name">Mary Jane</div>
                <div class="our-team-men-desc">Vestibulum</div>
                <div class="our-team-men-links">
                    <a href="">
                        <svg height="14" width="15">
                            <image xlink:href="{% static 'img/facebook-logo.svg' %}" x="0" y="0" height="15" width="15" /> </svg>
                    </a>
                    <a href=""> <img src="{% static 'img/twitter-logo-silhouette.jpg' %}" alt=""> </a>
                    <a href=""> <img src="{% static 'img/rss-feed-suscription-button-symbol-for-interface.jpg' %}" alt=""> </a>
                    <a href="">
                        <svg height="14" width="15">
                            <image xlink:href="{% static 'img/vk-social-network-logo.svg' %}" x="0" y="0" height="15" width="15" /> </svg>
                    </a>
                </div>
            </div>
            <div class="our-team-men-item">
                <div class="our-team-men-photo"><img src="{% static 'img/t-2.png' %}" alt=""></div>
                <div class="our-team-men-name">Peter Parker</div>
                <div class="our-team-men-desc">Ves tibulum</div>
                <div class="our-team-men-links">
                    <a href="">
                        <svg height="13" width="15">
                            <image xlink:href="{% static 'img/facebook-logo.svg' %}" x="0" y="0" height="15" width="15" /> </svg>
                    </a>
                    <a href=""> <img src="{% static 'img/twitter-logo-silhouette.jpg' %}" alt=""> </a>
                    <a href=""> <img src="{% static 'img/rss-feed-suscription-button-symbol-for-interface.jpg' %}" alt=""> </a>
                    <a href="">
                        <svg height="14" width="15">
                            <image xlink:href="{% static 'img/vk-social-network-logo.svg' %}" x="0" y="0" height="15" width="15" /> </svg>
                    </a>
                </div>
            </div>
            <div class="our-team-men-item">
                <div class="our-team-men-photo"><img src="{% static 'img/t-3.png' %}" alt=""></div>
                <div class="our-team-men-name">John Watson</div>
                <div class="our-team-men-desc">Vestibulum</div>
                <div class="our-team-men-links">
                    <a href="">
                        <svg height="15" width="15">
                            <image xlink:href="{% static 'img/facebook-logo.svg' %}" x="0" y="0" height="15" width="15" /> </svg>
                    </a>
                    <a href=""> <img src="{% static 'img/twitter-logo-silhouette.jpg' %}" alt=""> </a>
                    <a href=""> <img src="{% static 'img/rss-feed-suscription-button-symbol-for-interface.jpg' %}" alt=""> </a>
                    <a href="">
                        <svg height="15" width="15">
                            <image xlink:href="{% static 'img/vk-social-network-logo.svg' %}" x="0" y="0" height="15" width="15" /> </svg>
                    </a>
                </div>
            </div>
            <div class="our-team-men-item">
                <div class="our-team-men-photo"><img src="{% static 'img/t-4.png' %}" alt=""></div>
                <div class="our-team-men-name">Steven Wilson</div>
                <div class="our-team-men-desc">Vestibulum</div>
                <div class="our-team-men-links">
                    <a href="">
                        <svg height="13" width="15">
                            <image xlink:href="{% static 'img/facebook-logo.svg' %}" x="0" y="0" height="15" width="15" /> </svg>
                    </a>
                    <a href=""> <img src="{% static 'img/twitter-logo-silhouette.jpg' %}" alt=""> </a>
                    <a href=""> <img src="{% static 'img/rss-feed-suscription-button-symbol-for-interface.jpg' %}" alt=""> </a>
                    <a href="">
                        <svg height="14" width="15">
                            <image xlink:href="{% static 'img/vk-social-network-logo.svg' %}" x="0" y="0" height="15" width="15" /> </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="subscribe">
        <div class="subscribe-text"> Subscribe with Us </div>
        <form action="" class="subscribe-form-flex">
            <input type="text" placeholder="Email">
            <input type="submit" value="Subscribe"> </form>
    </div>
    {% include 'mainapp/includes/inc_contacts.html' %}
    {% include 'mainapp/includes/inc_map.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/collapseMain.js' %}"></script>
    <script src="{% static 'js/mainSliderVue.js' %}"></script>
{% endblock %}