{% extends 'mainapp/base.html' %}

{% load static %}

{% load my_tags %}

{% block content %}
    <div class="starting-product">
        {% include 'mainapp/includes/inc_starting_search.html' %}
        {% include 'mainapp/includes/inc_starting_menu_product.html' %}
    </div>
    <div class="product-wrapper">
        <div class="product-grid">
            <div class="product-grid-big-image"> <img src="{{ product.get_first_small_image.image|media_folder_products }}" alt="" class="main-image"> </div>
            <div class="product-grid-buy">
                <div class="product-grid-buy-name"> {{ product.get_name }}</div>
                <div class="product-grid-buy-subname">{{ product.get_subname }}</div>
                <div class="product-grid-buy-price"> {{ product.get_new_price }}₽ </div>
                <div class="product-grid-buy-button">
                    <a href="#"></a><span class="product-grid-buy-button-link">Buy</span> </div>
            </div>
            <div class="product-grid-images">
                <img src="{{ product.get_first_small_image.image|media_folder_products }}" alt="" class="small-image active-product-image">
                {% for small_image in product.get_other_small_images %}
                    <img src="{{ small_image.image|media_folder_products }}" alt="" class="small-image">
                {% endfor %}
            </div>
            <div class="product-grid-text">{{ product.description }}</div>
            <div class="product-ratings">
                <div class="ratings-wrapper">
                    <div class="progress-circle-div">
                        <svg class="progress-circle-svg" width="120" height=120>
                            <circle class="progress-circle-ring" stroke="red" stroke-width="4" cx="60" cy="60" r="52" fill="transparent"> </circle>
                            <div class="progress-score">{{ product.metacritic }}</div>
                        </svg>
                    </div>
                    <p>Средняя оценка ведущих критиков</p>
                </div>
                <div class="ratings-wrapper">
                    <div class="progress-circle-div">
                        <svg class="progress-circle-svg" width="120" height=120>
                            <circle class="progress-circle-part-1" stroke="red" stroke-width="4" cx="60" cy="60" r="52" fill="transparent"> </circle>
                            <circle class="progress-circle-part-2" stroke="red" stroke-width="4" cx="60" cy="60" r="52" fill="transparent"> </circle>
                            <circle class="progress-circle-part-3" stroke="red" stroke-width="4" cx="60" cy="60" r="52" fill="transparent"> </circle>
                            <circle class="progress-circle-part-4" stroke="red" stroke-width="4" cx="60" cy="60" r="52" fill="transparent"> </circle>
                            <div class="progress-score-string">{{ product.OpenCritic }}</div>
                        </svg>
                    </div>
                    <p>Рейтинг на OpenCritic</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-product">
        <div class="gallery-products-main">
            {% for prod in similar_products %}
                <div class="gallery-item-product">
                <div class="card-flip-item">
                    <div class="card-flip-item-front"> <img src="{{ prod.get_main_image|media_folder_products }}" alt=""> </div>
                    <div class="card-flip-item-back">
                        <div class="flip-rating">
                            <div class="flip-rating-item">
                                <p>{{ prod.metacritic }}</p>
                                <p>Metacritic</p>
                            </div>
                            <div class="flip-rating-item">
                                <p>{{ prod.pcGamer }}</p>
                                <p>PC Gamer</p>
                            </div>
                        </div>
                        <div class="flip-price">
                            <p>{{ prod.price }}₽</p>
                        </div>
                        <div class="flip-description">
                            <p>{{ prod.short_desc }}</p>
                        </div>
                        <div class="flip-icons">
                            {% for tag in prod.get_tags %}
                            <div class="flip-icon"><i class="fas  gameIcon"></i>
                                <div class="icon-desc">
                                    <div class="icon-desc-box"> <span class="tip tip-up"></span>
                                        <p>{{ tag.name }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="div-product-name">
                    <p class="product-name">{{ prod.name }}</p>
                </div>
                <div class="buy-button-product"> <a href="{% url 'catalog:product' prod.pk %}" class="gallery-buy-button-product"> Buy</a> </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'mainapp/includes/inc_contacts.html' %}
    {% include 'mainapp/includes/inc_map.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/productImages.js' %}"></script>
    <script src="{% static 'js/progressCircle.js' %}"></script>
    <script src="{% static 'js/productsTags.js' %}"></script>
{% endblock %}